<<<<<<< HEAD
﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
=======
﻿@{
    ViewBag.Title = "Home";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <h1>Summary</h1>
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Line Chart showing frequency of Card Usage
                        <small>December 2015</small>
                    </h5>
                    <div ibox-tools=""></div>
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas id="lineChart" height="200" width="535" style="width: 535px; height: 200px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">2015</span>
                            <h5>Amount of Time Purchased</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">22 285,400</h1>
                            <div class="stat-percent font-bold text-navy"><i class="fa fa-level-up"></i></div>
                            <small>Assigned</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-info pull-right">2015</span>
                            <h5>Amount of Cash Processed</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">60 420,600</h1>
                            <div class="stat-percent font-bold text-info"><i class="fa fa-level-up"></i></div>
                            <small>Units Used</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-hand-o-right fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <h2> Total number of Agents </h2>
                        <h2>
                            657
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <h2> Total number of Users</h2>
                        <h2>
                            344
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-phone fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <h2> Total number of Devices</h2>
                        <h2>46,760</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
>>>>>>> be35161d1f116d182eec34cb8a41486caf6c824a
