<<<<<<< HEAD
﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
=======
﻿<!DOCTYPE html>
<html ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Sanwo Parking</title>
    <link rel="shortcut icon" href="~/Content/img/favicon.png" type="image/x-icon">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Morris -->
    <link href="~/Content/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/custom.css" rel="stylesheet">

    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/js/angular-route.min.js"></script>
    <script src="~/Content/js/angular-animate.min.js"></script>
    <script src="~/Content/js/app.js"></script>
    <script src="~/Content/js/directives.js"></script>

    <!-- Data Tables -->
    <link href="~/Content/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="~/Content/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" src="~/Content/img/sanwologo.png" width="150" height="50" />
                            </span>
                            @*<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">Ita Ukemeabasi</strong>
                                    </span> <span class="text-xs block">Client</span>
                                </span>
                            </a>*@
                        </div>
                        <div class="logo-element">
                            SPK
                        </div>
                    </li>
                    <li class="active">
                        <a href="/Home/"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                        
                    </li>
                    <li>
                        <a href="/Agent/"><i class="fa fa-user"></i> <span class="nav-label">Agent</span></a>
                       
                    </li>
                    <li>
                        <a href="/Customer/"><i class="fa fa-users"></i> <span class="nav-label">Customer</span></a>
                       
                    </li>
                    <li>
                        <a href="/Device/"><i class="fa fa-lg fa-mobile-phone"></i> <span class="nav-label">Device</span></a>
                        
                    </li>
                    <li>
                        <a href="/Card/"><i class="fa fa-credit-card"></i> <span class="nav-label">Card</span></a>

                    </li>
                    <li>
                        <a href="/Transaction/"><i class="fa fa-list"></i> <span class="nav-label">Transaction</span></a>

                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    @*<ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span>Welcome to Sanwo Parking</span>
                        </li>
                        <li>
                            <a href="login.html">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>*@

                </nav>
            </div>


            <div class="">
                @RenderBody()
            </div>


            <div class="footer">
                <div class="pull-right">
                    <strong>SanwoIQ</strong>
                </div>
                <div>
                    <strong>Copyright</strong> Sanwo Touch2Pay Technology Services Limited &copy; 2014-2015
                </div>
            </div>

        </div>


    </div>
    </div>

    <!-- Main scripts -->
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Data Tables -->
    <link href="~/Content/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="~/Content/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">


    <!-- Custom and plugin javascript -->
    <script src="~/Content/js/inspinia.js"></script>
    <script src="~/Content/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Content/js/plugins/jquery-ui/jquery-ui.min.js"></script>


    <!-- ChartJS-->
    <script src="~/Content/js/plugins/chartJs/Chart.min.js"></script>
    <script src="~/Content/js/demo/chartjs-demo.js"></script> 

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );


        });
    </script>

</body>
</html>
>>>>>>> be35161d1f116d182eec34cb8a41486caf6c824a
